.div{
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
}
button{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 70px;
    cursor: pointer;
}